@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/hk-groteks');

                

*{ /* o asteristico representa que todos os elementos vão ser afetados pelo estilo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*organiza melhor os items na sua tela fazendo os conteúdos e outras propiedades se encaixarem mais parecidos com caixa e vai redimensionando esse valor*/
    font-family: 'Opens Sans', sans-serif;
}

header{
    position: fixed;/*o elemento é removido fluxo normal do documento e nenhum espaço é criado para o elemento no layout da pagina. O elemento fica posicionado na mesma localidade em toda a pagina*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex; /* pode-se chamar também de inline-flex, ou seja, ele organiza os elementos (somente os elementos e não os sub-elementos que seriam elementos dentro de outros elementos, por isso ao organizar o header ele alinha horizontalmente somente o elemento 'a' e o 'ul' e não a lista dentro dele)*/
    justify-content: space-between; /* Distribui os itens igualmente. O primeiro item (o primeiro é o "a" onde está monocat) e o ultimo item (a lista onde estão os itens da nav bar) nivela com o fim*/
    align-items: center; /*justifica mas so que na vertical e não se preocupa com o tamanho ou justificação do item na horizontal podendo alguns botões ficarem grandes na horizontal*/
    z-index: 10000;
}

header .logo{/* o "." para descrever que você está mudando uma classe*/
    position: relative; /*basicamente você escolhe a posição do elemento e ele respeita o flow do documento*/
    color: #233dff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em; /*tamanho de fonte que respeita o tamanho da tela e muda mas mantém as proporções comparado as outras fontes na tela*/
}

header .logo:hover{
    color: #eab2bb;
}

header ul{
    position: relative;
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color:#222;
    font-weight: 500;
    font-size: 1.25em;
    font-family: 'HK Grotesk', sans-serif;
                                                

}

header ul li.active a,
header ul li a:hover{
    color: #eab2bb;
}

#home{/*# é para descrever que você está mudando um id*/
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #D6E7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
   
    /*background-attachment: fixed;*/
}

#home .content{
    position: relative;
    display: flex;
    flex-direction: column; /*faz o flex q se comporta em fila, se comportar como coluna e cada elemento fica abaixo do outro*/
    gap: 10px; /*distancia entre todos os elementos */
    max-width: 850px;
    z-index: 10;
}

#home .content h2{
    position: relative;
    font-size: 5em;
    color: #233dff;
}

#home .content p{
    color: #050a30;
    font-size: 1.2em;
    line-height: 1.6em;
}

.btn{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background: #233dff;
    color: #fff1eb;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover{
    background: #eab2bb;
    color: #233dff;
}

#home .imgHome{
    position: absolute;/*o elemento sai do fluxo do documento e nenhum espaço é criado no layout*/
    bottom: 30;
    right: 100px;
    max-height: 90vh;
}

#services{
    position: relative;
    background: #050A30;
    min-height: 100vh;
    padding: 120px 100px; 
 }

 #works{
    position: relative;
    background: #eab2bb;
    min-height: 100vh;
    padding: 120px 100px; 
 }

#contact{
   position: relative;
   background: #050A30;
   min-height: 100vh;
   padding: 120px 100px; 
}

/*6:19*/